@mixin podvuci($b: rgba(0,0,0,0.2)) {
    @include precrtaj($b);
    & .crta {
        top: 50%;
        transform: none;
        transform: rotateZ(0.5deg);
    }
}

@mixin precrtaj($b) {
    position: relative;
    & .crta {
        display: block;
        position: absolute;
        stroke: $b;
        stroke-width: 5px;
        width: 100%;
        height: 100%;
        transform: translateY(2px);
        left: 0;
        top: 0;
        animation: rasiri $dur / 2 $tm;
    }
}

@mixin vrstaMnozina($b) {
    background: $b;
    &.dokTrajePrvi {
        &.klikno {
            &.tacno {
                background: $b;
            }
        }
    }
    &.dokTrajeDrugi {
        &.neaktivna {
            &.josNijeResena {
                &:hover {
                    background: $b;
                }
            }
        }
        &.aktivna {
            .Razlog, .letvica {
                border-top-color: $b;
            }
        }
    }
    &.resena {
        .bravo {
            background: $b;
        }
    }
    .Pitanje {
        .bravo {
            color: $b !important;
        }
    }
}

@mixin vrstaJednina($b: $siva) {
    color: $b;
    &.klikno {
        &.tacno {
            .oblast-fono & {
                background: $b;
                border-color: $b;
                color: white;
                border-left-color: white;
            }
            .tekst {
                @include iza($b);
            }
            .Front & {
                @include podvuci($b);
            }
        }
        &.netacno {
            .tekst {
                @include precrtaj($b);
            }
        }
    }
    &.pregled {
        @include podvuci($b);
    }
    .Baza &.Vrsta-baza,
    .Baza &.izabranaVrsta {
        background: $b;
    }
    .Baza &.Rec-baza {
        color: $b;
    }
}

@mixin iza($b){
    .tekst {
        position: relative;
        color: white;
        &:after {
            display: block;
            content: '';
            position: absolute;
            left: -4px;
            top: 3px;
            width: calc(100% + 6px);
            height: calc(100% - 4px);
            background: $b;
            z-index: -1;
            .oblast-fono & {
                background: none;
            }
        }
    }
}

@mixin min($r) {
    @media (min-width: $r) {
        @content;
    }
}

@mixin max($r) {
    @media (max-width: $r) {
        @content;
    }
}

@mixin clearfix() {
    &:after {
        display: table;
        content: '';
        width: 100%;
        height: 0;
        clear: both;
    }
}
