@font-face {
    font-family: 'Roboto Slab';
    src: local('MyFont'),
    url(./fonts/RobotoSlab-Regular-webfont.woff) format('woff'),
    url(./fonts/RobotoSlab-Regular-webfont.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: local('MyFont'),
    url(./fonts/RobotoSlab-Bold-webfont.woff) format('woff'),
    url(./fonts/RobotoSlab-Bold-webfont.ttf) format('truetype');
    font-weight: bold;
}
